// Font Family
$ff-ms: 'Mulish', sans-serif;
$ff-pd: 'Playfair Display';

// Font Weight
$fw-n: 400;
$fw-b: 600;
$fw-xb: 800;

// Font Size
$fs-huge4: 5.5rem;
$fs-huge3: 4.5rem;
$fs-huge2: 3.5rem;
$fs-huge: 2.5rem;
$fs-h1: 2.6rem;
$fs-h2: 2.4rem;
$fs-h3-md: 2rem;
$fs-h3: 1.8rem;
$fs-h4-md: 1.6rem;
$fs-h4: 1.4rem;
$fs-p2: 1.2rem;
$fs-p: 1rem;
$fs-small: .9rem;
