/* || BASIC FORMAT */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || COLOR PALLETE */

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: #f0f0f0;
  --primary-color: #373f41;
  --gray-color: rgb(136, 136, 136);
  --error-color: rgb(215, 75, 75);
}

/* || FONT FAMILY */

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --main-font: "Mulish", sans-serif;
  --highlight-font: "Playfair Display";
}

/* || SPACING */

:root {
  --navbar-spacing: 1em;
  --screen-padding: 2em;
  --section-margin: 3em;
  --button-padding: 2em;
  --input-padding: 1em;
}

/* || FONT SIZE */

:root {
  --increment: 0rem;
  --paragraph-text: calc(1rem);
  --small-header: calc(1rem + var(--increment));
  --fullscreen-link: calc(3rem + var(--increment));
  --navbar-link: calc(1rem + var(--increment));
  --welcome-text: calc(2rem + var(--increment));
  --big-highlighttext: calc(2.5rem + var(--increment));
  --section-header: calc(2rem + var(--increment));
  --button-size: calc(1rem + var(--increment));
  --project-title: calc(1.5rem + var(--increment));
  --project-category: calc(0.8rem + var(--increment));
}

/* || SIZES */

:root {
  --socialicon-size: 45px;
  --about-projectcard: 350px;
  --xlbutton-size: 250px;
}

/* || ========================================================= */
/* || RESPONSIVE VARIABLES */

@media (min-width: 768px) {
  /* || SPACING */

  :root {
    --screen-padding: 4em;
    --section-margin: 4em;
  }

  /* || FONT SIZE */

  :root {
    --increment: 0.2rem;
  }
}

@media (min-width: 1280px) {
  /* || SPACING */

  :root {
    --screen-padding: 8em;
    --section-margin: 5em;
  }

  /* || FONT SIZE */

  :root {
    --increment: 0.3rem;
    --welcome-text: calc(2.7rem + var(--increment));
    --big-highlighttext: calc(4rem + var(--increment));
    --button-size: calc(1.2rem);
  }
}
